# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
venv/
.env/
.venv/
ENV/

# Django related
*.log
db.sqlite3
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
